@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

/* Common Css Start */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    margin: 0;
    padding: 0;
}
a,
a:hover {
    text-decoration: none;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
ul li {
    display: inline-block;
    text-decoration: none;
}

body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    margin: 0;
}
:root {
    /*color*/
    --primary-color: #215a9a;
    --secondary-color: rgba(33, 90, 154, 0.69);
    --focus-color: rgba(33, 90, 154, 0.5);
    --hover-color: rgb(111, 193, 16);
    --regular-text: #505050;
    /* transition */
    --first-transition: all 0.2s linear;
}
.container {
    max-width: 1280px;
    margin: auto;
}
.font-bold {
    font-weight: 700;
}
.font-medium {
    font-weight: 500;
}
.font-regular {
    font-weight: 400;
}
/* ||Common Css End|| */

/* Header Css Start */
header {
    background: var(--secondary-color);
    padding: 20px 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav ul li a {
    text-transform: capitalize;
    font-size: 24px;
    color: white;
    margin-left: 16px;
    transition: var(--first-transition);
}
.nav ul li a:hover {
    color: var(--hover-color);
}
/* ||Header Css End|| */

/* Banner Css Start */
#banner {
    background: var(--primary-color);
    padding: 100px 0;
    color: white;
}

.banner-flex {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.banner-text {
    width: 60%;
}
.banner-text h1 {
    font-size: 50px;
    line-height: 61px;
    padding-bottom: 60px;
}
.banner-text p {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 20px;
}
.banner-text a {
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 20px;
    color: white;
}

.banner-image {
    width: 40%;
    text-align: right;
}
/* ||Banner Css End|| */

/* Price Css Start */
#price {
    background: var(--secondary-color);
    padding: 40px;
}

.price-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    background: var(--focus-color);
    padding: 20px 40px;
    color: white;
    border-radius: 29px;
}

.price-item h4 {
    font-size: 24px;
    line-height: 29px;
}

.priceing-part {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.part-2 {
    margin-top: 40px;
}

.priceing-part a {
    color: var(--primary-color);
    background: white;
    padding: 4px 25px;
    font-size: 40px;
    border-radius: 10px;
}

.price-btn {
    display: block;
    background-color: white;
    color: var(--primary-color);
    font-size: 16px;
    text-align: center;
    border-radius: 10px;
    padding: 15px 0;
}
/* ||Price Css End|| */

/* About Css Start */
#about {
    padding: 200px 0;
}
.about-sec {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}
.about-text h3 {
    font-size: 50px;
    line-height: 61px;
    color: var(--primary-color);
    padding-bottom: 40px;
}
.about-text p {
    font-size: 20px;
    line-height: 30px;
    color: var(--regular-text);
}
/* ||About Css End|| */
